@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ff6347;
    padding: 10px;

}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.uno {
    text-transform: uppercase;
    color: #333;
}

.dos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.encabezado-box a {
    margin: 0 25px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: large;
}

.encabezado-box a:hover {
    color: #f0f0f0;
    transition: 300ms all ease-in-out;
}

.encabezado-box a:focus {
    color: var(--color-focus);
}

/* Main */
main {
    width: 100%;
    height: 100%;
    background-color: #ff4500;
    display: flex;
    flex-direction: row;
}

#categorias-var {
    flex: 0 0 15%;
    height: 100%;
    background-color: var(--color-fondo);
    border-right: rgb(51, 51, 51, 0.5) solid 1px;
}

#categorias-var h2 {
    border-bottom: #333 solid 1px;
    padding: 10px;
    font-size: large;
    text-align: center;
    opacity: 0.5;

}

#productos-box {
    flex: 0 0 85%;
    background-color: var(--color-blanco);
    height: 100%;
    overflow: auto;
}

#buscador {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 30px;
    width: 20em;
}

#buscador button {
    margin-left: 5px;
    padding: 8px;
    border-radius: 30px;
}

ul {
    margin-top: 10px;
}

li {
    padding: 5px;
    text-align: center;
    list-style: none;
    font-weight: 500;
}

li:hover {
    font-weight: bolder;
    font-size: larger;
    color: #ff6347;
    font-weight: 600;
    transition: 200ms ease-in-out all;
}

li:focus {
    color: var(--color-focus)
}

#productos {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    margin: 0 2px
}

article {
    display: flex;
    width: 15em;
    flex-direction: column;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 10;

}

article h3 {
    text-align: center;
    padding: 0.5em 0;
    font-size: small;
}

article p {
    font-size: small;
    padding: 0.5em 0;
    text-align: center;
    overflow: hidden;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

article .precio {
    font-weight: bold;
    text-align: center;
}

article button {
    background-color: var(--color-primario);
    font-size: medium;
    color: var(--color-blanco);
    border: none;
    padding: 0.8em 2px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}

article button:hover {
    background-color: #ff4500;
    color: #333;
    font-weight: 600;
    box-shadow: #333 2px 2px;
}

.buscador {
    padding: 10px
}

.buscador:focus {

    color: #ff4500;
}

.buscador label {
    padding-left: 9px;
    font-weight: bold;
}

.mensaje {
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.alerta {
    display: none;
    position: fixed;
    margin: auto;
    top: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.valor-carrito{
    display: inline;
    padding: 5px;
    color: #f0f0f0;
    border-radius: 50em;
    text-align: center;
}